html {
    font-size: var(--font-size-html);
}

body {
    font-size: var(--font-size);
    line-height: var(--line-height-open);
    font-family: var(--font-sans);
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-bg);
    height: 100vh;
    gap: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    transition: flex .4s linear, background-color .2s linear, color .2s linear;
}

.highlight,
::selection {
    color: var(--color-text);
    background-color: #fbb800;
}

footer,
header,
main,
aside {
    margin: 0 auto;
    max-width: var(--width-max);
    padding: 0;

}

footer,
header,
main,
aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: stretch;
    gap: var(--gap);
}

main {
    background-color: var(--color-bg-secondary);
    width: 66vw;
    max-width: 66vw;
    padding: 4rem;
}

aside {
    background-color: var(--color-bg);
    width: 34vw;
    max-width: 34vw;
    padding: 4rem 2rem;
}

p {
    margin: 0;
    font-size: var(--font-size);
}

a {
    color: #01f;
    font-weight: 400;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:focus-visible {
    outline-offset: 4px;
    border-radius: var(--border-radius);
    outline: 4px solid #fbb800
}

.bp--button {
    color: #fff;
    text-align: left;
    background-color: #000cb3;
    border-radius: var(--border-radius);
    border: none;
    padding: .5rem .75rem;
    font-size: var(--font-size);
    font-weight: 400;
    transition: box-shadow 80ms ease-in, color 80ms linear, transform 80ms ease-in-out, background-color 80ms linear;
    box-shadow: 0 0 rgba(54, 51, 102, .5)
}

.bp--button:hover {
    color: #fff;
    background-color: #01f;
    text-decoration: none;
    transform: scale(1.025);
    box-shadow: 0 10px 2px -4px rgba(95, 92, 153, .24), 0 2px 3px -2px rgba(54, 51, 102, .5)
}

.bp--button:active {
    background-color: #000659;
    transform: scale(1);
    box-shadow: 0 2px 1px rgba(54, 51, 102, .5)
}

.bp--button:focus-visible {
    outline-offset: 2px;
    background-color: #01f;
    border-radius: var(--border-radius);
    outline: 3px solid #fbb800;
    transform: scale(1.05)
}

.bp--button.emphasis-low {
    color: #000cb3;
    background-color: #e4e5f7
}

.bp--button.emphasis-low:hover {
    color: #01f;
    background-color: #f5f5ff
}

.bp--button.emphasis-low:active {
    color: #000cb3;
    background-color: #d5d7f2
}

.bp--button.emphasis-low.w--current:hover {
    color: #01f;
    background-color: #d1d4ff
}

.bp--button.emphasis-lowest {
    box-shadow: none;
    color: #00010d;
    background-color: transparent
}

.bp--button.emphasis-lowest:hover {
    box-shadow: none;
    color: #01f;
    background-color: #f5f5ff
}

.bp--button.emphasis-lowest:active {
    color: #01f;
    background-color: #d5d7f2
}

#display {
    font-size: var(--font-size-lxxxxx);
    line-height: var(--line-height-base);
    font-weight: 300;
}

.overline {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-sans);
    font-weight: 500;
    text-transform: uppercase;
}

.link-block {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    flex-direction: row;
    font-size: var(--font-size-s);
    line-height: var(--line-height-snug);
}

.bp--divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    margin: 0.5rem 0;
}

.bp--text.xs {
    font-size: .625rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0;
    padding: var(--gap-l);
    gap: var(--gap-s);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}

.context {
    font-size: var(--font-size);
}

.avatar {
    height: 4rem;
    width: auto;
    aspect-ratio: auto;
    border-radius: var(--border-radius-circle);
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-container {
    position: absolute;
    font-size: var(--font-size-s);
    line-height: var(--line-height-snug);
    background-color: var(--color-text);
    color: var(--color-bg);
    padding: var(--gap-s);
    border-radius: var(--border-radius);
    white-space: nowrap;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip-container.visible {
    visibility: visible;
    opacity: 1;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}